<sticky>
    <header>
        <div class="container clearfix">
            <div id="logo">
                <img src="../../assets/images/ED-Logo-Web.png" alt="">
            </div>

            <nav>
                <a href="">Design A Ring</a>
                <a href="">Engagement Rings</a>
                <a href="">Wedding Bands</a>
                <a href="">Services</a>
                <a href=""><i class="material-icons">shopping_cart</i></a>
            </nav>
        </div>
    </header>
</sticky>
<br><br><br><br><br><br><br>
<home></home>
