
<!-- <img  alt="" style="width: 100%;"> -->
<carousel>
  <slide>
    <img src="../../assets/images/proposal.jpg" width="100%" alt="First slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/ED-Logo-Web.png" alt="Second slide">
    <div class="carousel-caption">
      <h3>second slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/proposal.jpg" width="100%" alt="Third slide">
    <div class="carousel-caption">
      <h3>third slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
</carousel>
