
<carousel>
    <slide>
        <img src="../../assets/images/proposal.jpg" width="100%" height="800px" alt="First slide">
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </slide>
    <slide>
        <img src="../../assets/images/ED-Logo-Web.png" width="100%" height="800px" alt="Second slide">
        <div class="carousel-caption">
            <h3>second slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </slide>
    <!-- <slide>
    <img src="../../assets/images/proposal.jpg" width="100%" height="800px" alt="Third slide">
    <div class="carousel-caption">
    <h3>third slide label</h3>
    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
</div>
</slide> -->
</carousel>


<div>
    <md-grid-list cols="12" rowHeight="1:5" gutterSize="-10px">
        <md-grid-tile colspan="4" *ngFor="let item of items">
            <md-card class="example-card" >
                <!-- <md-card-header>
                </md-card-header> -->
                <img md-card-image src="../../assets/images/ring.jpg">
                <md-card-content>
                    <font size="3">
                        <p>Emerald 1.4 caret diamond.</p>
                    </font>
                </md-card-content>
                <md-card-actions>
                    <button md-button mdTooltip="Add to cart" mdTooltipShowDelay="200" (click)="alert('Added to cart!')"><i class="material-icons">add_shopping_cart</i></button>
                    <button md-button mdTooltip="Favorite" mdTooltipShowDelay="200" (click)="alert('Added to favorites!')"><i class="material-icons">favorite_border</i></button>
                    <button md-button mdTooltip="Share" mdTooltipShowDelay="200" (click)="alert('Sharing!')"><i class="material-icons">share</i></button>
                    <p class="price-tag"><font size="5"><b>$1,099</b></font></p>
                </md-card-actions>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>
